node_modules/abacus-eslint/node_modules/eslint/node_modules/file-entry-cache/node_modules/flat-cache/node_modules/del/node_modules/globby/node_modules/glob/node_modules/minimatch/node_modules/brace-expansion/node_modules
node_modules/abacus-eslint/*
node_modules/react/*
